.container {
  text-align: center;
}

img {
  width: 600px;
}

button {
  height: 55px;
  width: 75px;
}

.buttons {
  margin-top: 1rem;
}

.score {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  font-weight: 600;
}

.results {
  margin-top: 1rem;
  line-height: 1.5;
}

.final {
  font-size: 40px;
  font-weight: bolder;
}
